.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   border-bottom: 1px solid black;
}

.dp {
  width: 200px;
  height: auto;
  border-radius: 50%;
  border: 2px solid rgb(128, 128, 128);
}
.extLinks {
  a {
    padding: 0 0.2rem;
  }
  i {
    font-size: 1.5rem;
  }
}
.header {
  background-color: rgb(52, 0, 65);
  //   background: url("../../images/dpe.jpg");
  //   background-attachment: fixed;
  //   background-position: center;
  //   background-size: contain;
  //   background-repeat: no-repeat;
}
.content {
  display: flex;
  flex-direction: row;

  height: 100vh;
  width: 100%;
  background: url("../../images/back.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #fff;
  }

  .handleBar {
    width: 10vw;
    // background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    hr {
      border: 1px solid rgba(255, 255, 255, 0.39);
      height: 25%;
      margin: -5px 0 0 0;
    }

    .icon {
      color: #fff;
      // margin: 20px 0;
    }
  }

  .headerContent {
    height: 100%;
    margin-left: 50px;
    display: flex;
    // align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    //   text-align: center;
    h4 {
      //   text-align: left;
    }
  }
}

.projectionSection {
  background: rgb(255, 187, 0);
  background-image: url("../../images/yello.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  flex-direction: column;
  justify-content: flex-start;
  .projects {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
  }
  .footMessage {
    margin-bottom: 20px;
  }
}

.card {
  position: relative;
  cursor: pointer;
  width: 100%;
  .image {
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }
  .text {
    opacity: 0;
    position: absolute;
    transition: 0.5s ease;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}

.card:hover .image {
  opacity: 0.9;
}

.card:hover .text {
  opacity: 1;
}
.meta {
  background: rgb(255, 210, 8);
  color: rgb(0, 0, 0);
  font-size: 16px;
  padding: 16px 32px;
}
.footer {
  background: url("../../images/back.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.designedContent {
  position: absolute;
  color: #fff;
  bottom: 50px;
  right: 50px;
  // .project1 {
  //   background-color: rgba(92, 0, 157, 0.282);
  //   // padding: 70px;
  //   // border-radius: 40px;
  //   width: 0;
  //   border-bottom: 30px solid #6c6;
  //   border-left: 52px solid transparent;
  //   border-right: 52px solid transparent;

  //   width: 104px;
  //   height: 60px;
  //   background-color: #6c6;

  //   width: 0;
  //   border-top: 30px solid #6c6;
  //   border-left: 52px solid transparent;
  //   border-right: 52px solid transparent;
  // }

  $hexa-color: rgba(92, 0, 157, 0.446);
  $hexa-hover-color: rgba(92, 0, 157, 0.652);
  
  .hexagon {
    color: #fff;
    width: 100px;
    height: 55px;
    background: $hexa-color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid $hexa-color;
  }

  .hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid $hexa-color;
  }
  .hexagon:hover {
    background-color: $hexa-hover-color;
    cursor: pointer;
  }
  .hexagon:hover::before {
    border-bottom-color: $hexa-hover-color;
  }
  .hexagon:hover::after {
    border-top-color: $hexa-hover-color;
  }
  .hexagon::selection {
    background-color: transparent;
  }
}

@media screen and (max-width: 480px) {
  .cardGrid {
    // width: 50%;
  }
  .projects {
    width: 60% !important;
  }
}
