.container {
  padding: 0rem 1rem;
  text-align: center;
  .dp {
    img {
      border-radius: 50%;
    }
  }
  .extLinks{
    a{
      padding: 0 0.2rem;
    }
    i{
      font-size: 1.5rem;
    }
  }
}
